.main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0px auto;
    margin-top: 60px !important;
    padding: 0px 30px;

    .topContents {
        width: 100%;
        gap: 40px;
        display: flex;
        justify-content: space-between;

        .info {
            width: 100%;

            h1 {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 10px;
            }

            p {
                font-size: 13px;
            }
        }

        div {
            background: #f8f8f8;
            box-shadow: 0px 0px 15px #0000001f;
            padding: 20px;
            border-radius: 10px;
        }
    }

    img {
        width: 220px;
        height: 160px;
        margin: 30px 0px;
        border-radius: 10px;
    }
}

.content {
    font-size: 15px;
}

.like {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background: #f8f8f8;
    box-shadow: 0px 0px 15px #0000001f;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto 0px auto;
    width: fit-content;

    span {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        i {
            font-size: 40px;
            display: block;
        }
    }
}